@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

* {
    font-family: 'ubuntu', sans-serif ;
}

h1,
h2,
h3,
.ubuntu{
    font-family: 'ubuntu', sans-serif ;
}